@import "tailwindcss";
@plugin "daisyui" {
    themes:
        light --default,
        dark --prefersdark;
}

@font-face {
    font-family: "HNF";
    src: url("./assets/HackNerdFont-Regular.ttf") format(truetype);
    font-style: normal;
    font-weight: normal;
}

@theme {
    --font-sans: "Inter Variable", ui-sans-serif, system-ui, sans-serif;
    --font-mono: "HNF", ui-monospace, "Cascadia Mono", Consolas, monospace;
}

.monaco-editor * {
    font-family: var(--font-mono);
}
