@import "tailwindcss";
@plugin "daisyui" {
    themes:
        light --default,
        dark --prefersdark;
}

@font-face {
    font-family: "Hack";
    src: url("./assets/HackNerdFont-Regular.ttf") format(truetype);
    font-style: normal;
    font-weight: normal;
}

@theme {
    --font-sans: "Inter Variable", ui-sans-serif, system-ui, sans-serif;
    --font-mono: "Hack", ui-monospace, "Cascadia Mono", Consolas, monospace;
}
